*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.website-intro {
  display: flex;
  flex-direction: column;
  /* background-color: ; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links {
  display: flex;
  list-style: none;
  /* margin-left: auto; */
  gap: 8px;
  padding: 0;
}

.website-section {
  display: flex;
  justify-content: space-around;
  margin: 24px;
}

.website-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.website-name {
  margin-bottom: 0;
}

.website-subtext {
  margin-top: 0;
  margin-bottom: 8px;
}

.bt-sign-up-one {
  width: 100px;
}

img {
  width: 200px;
  height: auto;
  margin-top: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 48px;
}

.image-list {
  list-style: none;
  display: flex;
  /* flex-direction: row; */
  padding: 0;
  margin: 0;
  gap: 32px;
  /* justify-content: space-evenly; */
}

.image-list p {
  width: 140px;
  text-align: center;
  margin-top: 0;
}

.image-list img {
  width: 140px;
  height: auto;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.quote-text {
  width: 600px;
}

.author {
  align-self: flex-end;
  margin-right: 180px;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px;
  gap: 100px;
}

.action {
  margin-bottom: 0;
}

.action-desc {
  margin-top: 0;
}

.bt-sign-up-two {
  height: 24px;
}

.copyright {
  text-align: center;
}
