*, *::after, *::before {
  box-sizing: border-box;
}

body { 
  min-width: 300px;
  min-height: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.website-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: ; */
}

.header {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links {
  display: flex;
  list-style: none;
  /* margin-left: auto; */
  gap: 8px;
  padding: 0;
}

.website-section {
  display: flex;
  justify-content: space-around;
  margin: 24px;
}

.website-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.website-name {
  margin-bottom: 0;
}

.website-subtext {
  margin-top: 0;
  margin-bottom: 8px;
}

.bt-sign-up-one {
  width: 100px;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-top: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 48px;
}

.image-list {
  list-style: none;
  flex: auto;
  display: flex;
  margin: 0;
  gap: 80px;
  justify-content: space-evenly; 
  flex-wrap: wrap;
  width: 100%;
}

.image-list p {
  max-width: 160px; 
  text-align: center;
  margin-top: 8px;
}

.image-list img {
  max-width: 160px; 
  width: 100%;
  height: auto;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 10%;
  max-width: 100%;
}

.author {
  align-self: flex-end;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px;
  gap: 20px 50px;
  flex-wrap: wrap;
}

.action {
  margin-bottom: 0;
}

.action-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.bt-sign-up-two {
  height: 24px;
}

.copyright {
  text-align: center;
}
